<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="c:\temp\console-example-internal.log"
      internalLogLevel="Info" >
	<extensions>
		<add assembly="NLog.Mongo"/>
	</extensions>
	<!-- the targets to write to -->
	<targets>
		<!-- write logs to file -->
		<target xsi:type="File" name="logfile" fileName="c:\temp\console-example.log"
				layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" />
		<target xsi:type="Console" name="logconsole"
				layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" />

		<target xsi:type="Mongo"
        name="mongoDefault"
        connectionString="mongodb://localhost/test"
        collectionName="DefaultLog"
        cappedCollectionSize="26214400">
			<property name="ThreadID" layout="${threadid}" bsonType="Int32" />
			<property name="ThreadName" layout="${threadname}" />
			<property name="ProcessID" layout="${processid}" bsonType="Int32" />
			<property name="ProcessName" layout="${processname:fullName=true}" />
			<property name="UserName" layout="${windows-identity}" />
		</target>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="*" minlevel="Trace" writeTo="logfile,logconsole" />
		<logger name="*" minlevel="Trace" writeTo="mongoDefault" />
	</rules>

</nlog>